@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Manrope', sans-serif;
	background-color: $darkBlue;
	color: $lightCyan;

	.container {
		position: relative;
		width: 340px;
		height: auto;
		background-color: $darkGrayishBlue;
		border-radius: 10px;
		text-align: center;

		.heading {
			padding: 45px 0 25px 0;
			text-transform: uppercase;
			letter-spacing: 4px;
			color: $neonGreen;
		}

		.text {
			padding: 0 25px;
			font-size: 22px;
		}

		.divider_mobile {
			padding: 30px 0 60px 0;
		}

		.divider_desktop {
			display: none;
			padding: 40px 0 80px 0;
		}

		.diceBtn {
			display: flex;
			position: absolute;
			left: 50%;
			bottom: -70px;
			transform: translate(-50%, -50%);
			margin: auto;
			width: 70px;
			height: 70px;
			border-radius: 35px;
			background-color: $neonGreen;
			cursor: pointer;
			transition: box-shadow 0.3s ease;

			&:hover {
				-webkit-box-shadow: 0px 0px 100px 5px rgba(82, 255, 166, 1);
				-moz-box-shadow: 0px 0px 100px 5px rgba(82, 255, 166, 1);
				box-shadow: 0px 0px 20px 5px rgba(82, 255, 166, 1);
			}

			img {
				margin: auto;
			}
		}
	}

	.attribution {
		position: absolute;
		bottom: 0;
		font-size: 11px;
		text-align: center;
		a {
			color: hsl(228, 45%, 44%);
		}
	}
}

@media (min-width: 800px) {
	body {
		.container {
			width: 520px;

			.text {
				font-size: 26px;
			}

			.divider_mobile {
				display: none;
			}

			.divider_desktop {
				display: inline-block;
			}

			.diceBtn {
				bottom: -70px;
			}
		}
	}
}
